{% extends 'base_front.html.twig' %}

{% block title %}Daily recompenses{% endblock %}

{% block body %}
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <div class="flex items-center justify-center ">
        <div class="col-span-12">
            <div class="overflow-auto lg:overflow-visible ">
                <table class="table text-gray-400 border-separate space-y-6 text-sm">
                    <thead class="bg-gray-800 text-gray-500">
                    <tr>
                        <th class="p-3">Groupe</th>
                        <th class="p-3 text-left">Category</th>
                        <th class="p-3 text-left">Price</th>
                        <th class="p-3 text-left">Status</th>
                        <th class="p-3 text-left">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for betting_group in betting_groups %}
                    <tr class="bg-gray-800">
                        <td class="p-3">
                            <div class="flex align-items-center">
                                <img class="rounded-full h-12 w-12  object-cover" src="{{ asset('logos/' ~ betting_group.cover) }}" alt="groupe cover">
                                <div class="ml-3">
                                    <div class="text-gray-900">{{ betting_group.name }}</div>
                                </div>
                            </div>
                        </td>
                        <td class="p-3">
                            Technology
                        </td>
                        <td class="p-3 font-bold">
                            200.00$
                        </td>
                        <td class="p-3">
                            <span class="bg-green-400 text-gray-50 rounded-md px-2">available</span>
                        </td>
                        <td class="p-3 ">
                            <a href="#" class="text-gray-400 hover:text-gray-100 mr-2">
                                <i class="material-icons-outlined text-base">visibility</i>
                            </a>
                            <a href="#" class="text-gray-400 hover:text-gray-100  mx-2">
                                <i class="material-icons-outlined text-base">edit</i>
                            </a>
                            <a href="#" class="text-gray-400 hover:text-gray-100  ml-2">
                                <i class="material-icons-round text-base">delete_outline</i>
                            </a>
                        </td>
                    </tr>
                    {% else %}#}
                          <tr>
                              <td colspan="4">no records found</td>
                          </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{#  {% for betting_group in betting_groups %}#}
{#      <tr>#}
{#          <td>{{ betting_group.id }}</td>#}
{#          <td>{{ betting_group.name }}</td>#}
{#          <td>#}
{#              <form action="{{ path('front_app_daily_recompense_new') }}" method="post">#}
{#                  <input type="hidden" name="_token" value="{{ csrf_token('new') }}">#}
{#                  <input type="submit" value="Get my recompenses">#}
{#              </form>#}
{#          </td>#}
{#      </tr>#}
{#  {% else %}#}
{#      <tr>#}
{#          <td colspan="4">no records found</td>#}
{#      </tr>#}
{#  {% endfor %}#}