<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            .avatar{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 500px;
                border: solid black 1px;
            }
        </style>
    </head>
    <body>
        <div class="avatar">
            <img src="/avatar/{{ user.avatar }}" alt="">
        </div>
        email: {{ user.email }}<br>
        pseudo: {{ user.pseudo }}<br>
        firstName: {{ user.firstName }}<br>
        lastName: {{ user.lastName }}<br>

        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </body>
</html>