{% extends 'base_front.html.twig' %}


{% block body %}
    <h1>Les paris publics</h1>

    {% for label, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Date de fin</th>
                <th>Créateur</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            {% if event.finishAt >= date() %}
                <tr>
                    <td><a href="{{ path('front_app_event_show', {'id': event.id}) }}">{{ event.name }}</a></td>
                    <td>{{ event.finishAt ? event.finishAt|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ event.theUser.pseudo }}</td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('front_app_event_new') }}">Create new</a>
{% endblock %}
