{% extends 'base_front.html.twig' %}

{% block body %}
    <h1>Event</h1>

    <form action="{{ path('front_app_event_bet') }}" method="post">
        <table class="table">
            <tbody>
            <tr>
                <th>Question</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Cet évènement commence le</th>
                <td>{{ event.startAt ? event.startAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Se termine le</th>
                <td>{{ event.finishAt ? event.finishAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            {% for i, bet in bets %}
                <tr>
                    <td>Option {{ loop.index }}</td>
                    <td>{{ bet.label }}</td>
                    <td><input type="radio" name="bet" value="{{ bet.id }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input class="valider" type="submit" value="Valider" />
    </form>

    <a href="{{ path('front_app_event_index') }}">back to list</a>

{% endblock %}
