{% extends 'base_home.html.twig' %}

{% block title %}Forgot Password!{% endblock %}

{% block body %}
    {% for message in app.session.flashBag.get('success')%}
        <span class="alert">
            <strong>Succès !</strong> {{message}}
            <div class="load"></div>
        </span>
    {% endfor %}

    {% for message in app.session.flashBag.get('error')%}
        <span class="alert alert--error">
            <strong>Erreur !</strong> {{message}}
            <div class="load load--error"></div>
        </span>
    {% endfor %}
    {{ form_start(form, { 'attr' : { 'class': 'h-screen' } })}}
        <img src="{{ asset('build/images/logo-betthings.png') }}" alt="logo" class="logo" />
        <h1 class="h3 mb-3 font-weight-normal">Récupération de mot de passe</h1>
        <h2 style="margin-bottom: 20px;">Saisissez votre nouveau mot de passe</h2>
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
