{% extends 'base_home.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


        


    {{ form_start(registrationForm) }}
    <img src="{{ asset('build/images/logo-betthings.png') }}" alt="logo" class="logo" />
        <h1>Inscription</h1>
    {{ form_row(registrationForm.firstname, {
        label: 'Firstname'
    }) }}
    {{ form_row(registrationForm.lastname, {
        label: 'Lastname'
    }) }}
    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.username, {
        label: 'Username'
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.confirmPassword, {
        label: 'Confirm Password'
    }) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
