<!DOCTYPE html>

<title>GroupRequest index</title>

{% block body %}
    <h1>GroupRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>IsApproved</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group_request in group_requests %}
            <tr>
                <td>{{ group_request.id }}</td>
                <td>{{ group_request.createdAt ? group_request.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ group_request.isApproved ? 'Yes' : 'No' }}</td>
                <td>
{#                    <a href="{{ path('app_group_request_show', {'id': group_request.id}) }}">show</a>#}
{#                    <a href="{{ path('app_group_request_edit', {'id': group_request.id}) }}">edit</a>#}
                  <form action="{{ path('front_app_group_request_delete', {'id': group_request.id}) }}" method="post">
                       <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ group_request.id) }}">
                      <input type="submit" value="Delete">
                  </form>
                    <form action="{{ path('front_app_group_request_approve', {'id': group_request.id}) }}" method="post">
                        <input type="hidden" name="_method" value="POST">
                        <input type="hidden" name="_token" value="{{ csrf_token('approve' ~ group_request.id) }}">
                        <input type="submit" value="Approve">
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('app_group_request_new') }}">Create new</a>#}
{% endblock %}
