<!DOCTYPE html>

<title>Bet</title>

{% block body %}
    <h1>Bet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bet.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ bet.label }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ bet.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bet_index') }}">back to list</a>

    <a href="{{ path('app_bet_edit', {'id': bet.id}) }}">edit</a>

    {{ include('bet/_delete_form.html.twig') }}
{% endblock %}
