{% extends 'base_front.html.twig' %}

{% block title %}Betting group{% endblock %}


{% block body %}

    <h1>Mes groupes</h1>
    <table class="table w-3/4">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for betting_group in betting_groups %}
            <tr>
                <td><img src="{{ asset('logos/' ~ betting_group.cover) }}"  class="w-24 h-24 object-cover rounded-full"
                        alt="cover"></td>
                <td>{{ betting_group.name }}</td>
                <td class="text-center">
                    {% if is_granted('EDIT', betting_group) %}
                        <a href="{{ path('front_app_betting_group_edit', {'id': betting_group.id}) }}"><span class="fa fa-pen"></span></a>
                        <a href="{{ path('front_app_betting_group_delete', {'id': betting_group.id}) }}"><span class="fa fa-trash"></span></a>
                        <a href="{{ path('front_app_event_new', {'group': betting_group.id}) }}"><span class="fa fa-plus"></span></a>
                    {% endif %}
                    <a href="{{ path('front_app_betting_group_show', {'id': betting_group.id}) }}"><span class="fa fa-eye"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
