<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="https://kit.fontawesome.com/abaaf4d322.js" crossorigin="anonymous"></script>

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
<nav class="navbar">
    <ul>
        <li><img src="{{ asset('build/images/logo-betthings.png') }}" alt="logo" class="w-20 h-20"></li>
        {% if (is_granted('ROLE_ADMIN')) %}
            <li>
                <a href="{{ path('back_default_index') }}">
                <div class="flex flex-col justify-center items-center">
                    <span class="material-icons-outlined" style="font-size: 36px;">
  admin_panel_settings

                        </span>


                    Admin

                </div>
                </a>
            </li>
        {% endif %}
    </ul>
    <ul>


        <li><a href="{{ path('front_app_event_my_groups') }}"><span class="material-icons-outlined"> no
                </span></a></li>
        <li><a href="{{ path('front_app_event_my_groups') }}">Events</a></li>
        <li><a href="{{ path('back_default_index') }}">Parier</a></li>
        <li><a href="{{ path('front_app_betting_group_by_user') }}">Groupes</a></li>
        <li><a href="{{ path('front_app_betting_my_bettings') }}">Mes paris</a></li>
        <li>
            <button class="flex">
                <span   class="material-icons-outlined" id="notif-modal">notifications</span>
            </button>
        </li>
        <li class="profile">
            <div class="dropdown dropdown-left">
                <label tabindex="0"> <i class="mr-4 ml-2 fas fa-regular fa-caret-down"></i>
                </label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a class="text-gray-400" href="{{ path('front_profile') }}">Modifier mon profil</a></li>
                    <li><a class="text-gray-400" href="{{ path('front_app_betting_group_by_user_admin') }}">Administration
                            de mes groupes</a></li>
                    <li><a href="{{ path('front_app_betting_group_new') }}">Créer un groupe</a></li>
                </ul>
            </div>

            <p>{{ app.user.firstName }}
               {{ app.user.lastName }}</p>

            <img src="/avatar/{{ app.user.avatar}}" alt="logo" class="w-20 h-20">

        </li>
    </ul>
</nav>
<div class="container">
    <div class="sidebar">
        <ul>
            <li>
                <h2>Vos paris en cours</h2></li>

            {% for event in globals.events %}
                <li class="bet-item">
                    <img src="{{ asset('cover/' ~ event.coverImage) }}" alt="Cover Image" class=" object-cover">
                    <p>{{ event.name }}</p>
                </li>


            {% endfor %}
        </ul>
        <div class="logout">
            <svg width="31" height="38" viewBox="0 0 31 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_35_170)">
                    <path d="M24 0H25C26.1046 0 27 0.895431 27 2V28C27 29.1046 26.1046 30 25 30H24V0Z" fill="black"/>
                    <rect x="7" width="17" height="3" fill="black"/>
                    <rect x="7" y="27" width="17" height="3" fill="black"/>
                    <path d="M21 14C21.5523 14 22 14.4477 22 15C22 15.5523 21.5523 16 21 16V14ZM6.29289 15.7071C5.90237 15.3166 5.90237 14.6834 6.29289 14.2929L12.6569 7.92893C13.0474 7.53841 13.6805 7.53841 14.0711 7.92893C14.4616 8.31946 14.4616 8.95262 14.0711 9.34315L8.41421 15L14.0711 20.6569C14.4616 21.0474 14.4616 21.6805 14.0711 22.0711C13.6805 22.4616 13.0474 22.4616 12.6569 22.0711L6.29289 15.7071ZM21 16H7V14L21 14V16Z"
                          fill="black"/>
                    <path d="M4 1.66667C4 0.746192 4.74619 0 5.66667 0H7V8.5C7 9.32843 6.32843 10 5.5 10C4.67157 10 4 9.32843 4 8.5V1.66667Z"
                          fill="black"/>
                    <path d="M4 21.5C4 20.6716 4.67157 20 5.5 20C6.32843 20 7 20.6716 7 21.5V30H5.66667C4.74619 30 4 29.2538 4 28.3333V21.5Z"
                          fill="black"/>
                </g>
                <defs>
                    <filter id="filter0_d_35_170" x="0" y="0" width="31" height="38" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                       result="hardAlpha"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_35_170"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_35_170" result="shape"/>
                    </filter>
                </defs>
            </svg>
        </div>


    </div>
    <div class="content {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-5' }}">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success shadow-lg mb-5">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error shadow-lg mb-5">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>

</div>

<div class="w-full h-full bg-gray-800 bg-opacity-90 top-0 overflow-y-auto overflow-x-hidden hidden fixed sticky-0"
     id="chec-div">
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
    <div class="w-full absolute z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700"
         id="notification">
        <div class="2xl:w-4/12 bg-gray-50 h-screen overflow-y-auto p-8 absolute right-0">
            <div class="flex items-center justify-between">
                <p tabindex="0" class="focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
                    Notifications</p>
                <button role="button" aria-label="close modal"
                        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md cursor-pointer " id="close-modal"
                        >
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 6L6 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M6 6L18 18" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            {% for notification in globals.notifications %}

            <div class="w-full p-3 mt-8 bg-white rounded flex">

                    <div tabindex="0" aria-label="heart icon" role="img"
                     class="focus:outline-none w-8 h-8 border rounded-full border-gray-200 flex items-center justify-center">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M1.33325 14.6667C1.33325 13.2522 1.89516 11.8956 2.89535 10.8954C3.89554 9.89523 5.2521 9.33333 6.66659 9.33333C8.08107 9.33333 9.43763 9.89523 10.4378 10.8954C11.438 11.8956 11.9999 13.2522 11.9999 14.6667H1.33325ZM6.66659 8.66666C4.45659 8.66666 2.66659 6.87666 2.66659 4.66666C2.66659 2.45666 4.45659 0.666664 6.66659 0.666664C8.87659 0.666664 10.6666 2.45666 10.6666 4.66666C10.6666 6.87666 8.87659 8.66666 6.66659 8.66666ZM11.5753 10.1553C12.595 10.4174 13.5061 10.9946 14.1788 11.8046C14.8515 12.6145 15.2515 13.6161 15.3219 14.6667H13.3333C13.3333 12.9267 12.6666 11.3427 11.5753 10.1553ZM10.2266 8.638C10.7852 8.13831 11.232 7.52622 11.5376 6.84183C11.8432 6.15743 12.0008 5.41619 11.9999 4.66666C12.0013 3.75564 11.7683 2.85958 11.3233 2.06466C12.0783 2.21639 12.7576 2.62491 13.2456 3.2208C13.7335 3.81668 14.0001 4.56315 13.9999 5.33333C14.0001 5.80831 13.8987 6.27784 13.7027 6.71045C13.5066 7.14306 13.2203 7.52876 12.863 7.84169C12.5056 8.15463 12.0856 8.38757 11.6309 8.52491C11.1762 8.66224 10.6974 8.7008 10.2266 8.638Z"
                                    fill="#047857"
                            />
                        </svg>
                </div>
                    <div class="pl-3">
                        <p tabindex="0" class="focus:outline-none text-sm leading-none text-gray-900">{{ notification.message }}</p>
                        <p tabindex="0" class="focus:outline-none text-xs leading-3 pt-1 text-gray-500">{{ notification.createdAt|ago }}
                        </p>
                    </div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>

<footer class="w-full p-4 bg-black shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <ul>
        <li><a href="{{ path('front_default_index') }}">Accueil</a></li>
        <li><a href="{{ path('front_default_index') }}">A propos</a></li>
        <li><a href="{{ path('front_default_index') }}">Contactez-nous</a></li>
        <li><a href="{{ path('front_default_index') }}">Mentions légales</a></li>
        <li><a href="{{ path('front_default_index') }}">Politique de confidentialité</a></li>
    </ul>
    <p>© All Rights Reserved by Bet-Anythings</p>
</footer>
</body>
<script>
</script>

</html>
