<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
      <script src="https://kit.fontawesome.com/abaaf4d322.js" crossorigin="anonymous"></script>
      {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <!--BALISE SEO-->
        <meta name="description" content="Jouez à des paris en ligne avec vos amis ou des inconnus sur anything-bet. Notre site de paris en ligne vous offre une expérience amusante et conviviale pour parier sur vos sports préférés et gagner de l'argent. Rejoignez notre communauté de parieurs dès maintenant !">
        <meta name="author" content="lailacha, Ayman, Senex, Simon">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/build/images/logo-betthings.png">
    </head>
    <body class=" back-admin">
          <!-- Header -->
    <div class="fixed w-full flex items-center justify-between h-14 text-white z-10 top-0">
        <div class="flex items-center justify-start pl-3 w-14 md:w-64 h-14 bg-blue-800 dark:bg-gray-800 border-none">
          <img class="w-7 h-7 md:w-10 md:h-10 mr-2 rounded-md overflow-hidden" src="{{ asset('build/images/logo-betthings.png') }}" />
          <span class="hidden md:block">ADMIN</span>
        </div>
        <div class="flex justify-end items-center h-14 bg-blue-800 dark:bg-gray-800 header-right w-full">

          <ul class="flex items-center">
            <li>
              <div class="block w-px h-6 mx-3 bg-gray-400 dark:bg-gray-700"></div>
            </li>
            <li>
              <a href="#" class="flex items-center mr-4 hover:text-blue-100">
                <span class="inline-flex mr-1">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                </span>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-blue-900 dark:bg-gray-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
        <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
          <ul class="flex flex-col py-4 space-y-1">
            <li class="px-5 hidden md:block">
              <div class="flex flex-row items-center h-8">
                <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Main</div>
              </div>
            </li>
            <li>
              <a href="/admin" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="{{ path("back_app_user_index") }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                  <i class="fas fa-users"></i>
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Utilisateurs</span>
                {# <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full"></span> #}
              </a>
            </li>
            <li>
              <a href="{{ path('back_app_betting_group_index') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 dark:hover:border-gray-800 pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                 <i class="fa fa-thin fa-users-rays"></i>
                </span>
                <span class="ml-2 text-sm tracking-wide truncate">Groupes de paris</span>
              </a>
            </li>

            <li class="px-5 hidden md:block">
              <div class="flex flex-row items-center mt-5 h-8">
                <div class="text-sm font-light tracking-wide text-gray-400 uppercase">
                  <i class=" fa fa-arrow-left"></i>
                  <a href="{{ path('front_default_index') }}">Go back to App</a>

                </div>
              </div>
            </li>

          </ul>
          <p class="mb-14 px-5 py-3 hidden md:block text-center text-xs">Copyright @2023</p>
        </div>
      </div>
      <!-- ./Sidebar -->

          <div class="content-back"{{ app.session.flashbag.peek('success')|length > 0   ? '' : 'mb-5' }}">
            {% for message in app.flashes('success') %}
              <div class="alert alert-success shadow-lg mb-5">
                {{ message }}
              </div>
             {% endfor %}
              {% for message in app.flashes('error') %}
                <div class="alert alert-error shadow-lg mb-5">
                  {{ message }}
                </div>
              {% endfor %}
            {%  block body %}
            {% endblock %}

            </div>


          {# {% block javascripts %}
        {{ encore_entry_script_tags('app',
            attributes={
                'defer': 'defer',
                'crossorigin': 'anonymous',
            }
        ) }}
    {% endblock %} #}
    </body>
</html>


