{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="login">
        <section class="flex bg-white p-10 rounded-xl">
            {%  if user.avatar is defined %}
                <div class=" w-48 h-48  rounded-full border  border-gray-200 ml-5 ">
                    <img src="/avatar/{{ user.avatar }}" alt="" class="object-cover w-full h-full rounded-full"  >
                </div>
            {% endif %}
            <div class="flex flex-col items-center justify-center pl-24 pr-24">
                {{ form_start(formUpdate)}}
                {{ form_errors(formUpdate) }}
                {{ form_widget(formUpdate) }}

                {{ form_end(formUpdate) }}

                <div class="sep"></div>
                <h2 class=" mb-5">Changer l’avatar</h2>
                {{ form_start(formAvatar)}}
                {{ form_widget(formAvatar) }}
                {{ form_end(formAvatar) }}
            </div>

        </section>


    </main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .login form {
            padding-top: 0;
        }

        .login  button{
            margin-left: auto;
        }
    </style>

{% endblock %}
